<ion-view >
    <ion-content ng-controller="CtwmCtrl">
        <div class="card" >
            <div class="item item-divider " ng-controller="ClickCtrl">
                <button  class="button button-icon icon-right ion-android-arrow-dropdown "style="margin-right:70px;"
                         ng-click="openPopover($event)"   >汉文->西里尔蒙古文</button>
                <button class="button button-icon icon-right ion-android-send" ng-click="submit()">翻译</button>
                <script id="choice.html" type="text/ng-template">
                    <ion-popover-view >
                        <ion-content >
                            <ion-list>
                                <ion-item  href="#/app/home" ng-click="closePopover()">
                                    语言选择
                                </ion-item>
                                <ion-item  href="#/app/cttm" ng-click="closePopover()">
                                    汉文->传统蒙古文
                                </ion-item>
                                <ion-item  href="#/app/tmtc" ng-click="closePopover()">
                                    传统蒙古文->汉文
                                </ion-item>
                                <ion-item  href="#/app/ctwm" ng-click="closePopover()">
                                    汉文->西里尔蒙古文
                                </ion-item>

                                <ion-item  href="#/app/wmtc" ng-click="closePopover()">
                                    西里尔蒙古文->汉文
                                </ion-item>
                            </ion-list>
                        </ion-content>
                    </ion-popover-view>
                </script>
            </div>

            <div>
                <textarea  ng-model="inputText" placeholder="输入要翻译的文本..."  style='
             resize:none;width:100%;
           overflow:hidden;' rows="10"></textarea>
            </div>
        </div>
        <div ng-show="cload"  style="text-align: center; margin-bottom: 40px !important;" >
            <ion-spinner icon="circles" class="spinner-calm"></ion-spinner>
        </div>
        <div ng-show="hchange" class="card">
            <table>
                <tr ng-show="cshow"><td align="center" style="background: #1f8dd6; color: #ffffff;">翻&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp译</td></tr>
                <tr ng-repeat="result in results" style="border:1px solid #000000;width:50px">
                    <td style="border:1px solid #000000;">
                        <span style="width:100px; height:20px; text-align:center; float:left;">{{$index+1}}</span>
                    </td>
                    <td style="border:1px solid #000000;width:200px">
                        <span style="white-space:pre-wrap;">{{result.chinese}}</span>
                    </td>
                    <td style="border:1px solid #000000;width:400px">
                        <span  style="white-space:pre-wrap;"> {{result.newMog}}</span>
                    </td>
                </tr>
                <tr style="height:30px"></tr>
                <tr ng-show="cshow1"><td align="center" style="background: #1f8dd6; color: #ffffff;">相&nbsp关&nbsp词&nbsp条</td></tr>
                <tr ng-repeat="about in abouts" style="border:1px solid #000000;width:50px;">
                    <td  style="width:100px; height:20px; text-align:center; float:left;">
                        <span >{{$index+1}}</span>
                    </td>
                    <td style="border:1px solid #000000;width:200px">
                        <span  style="white-space:pre-wrap;">{{about.chinese}}</span>
                    </td>
                    <td style="border:1px solid #000000;width:400px">
                        <span  style="white-space:pre-wrap;"> {{about.newMog}}</span>
                    </td>
                </tr>
            </table>

            </div>
    </ion-content>
</ion-view>