<ion-view >

    <ion-content ng-controller="DeviceCtrl">
        <table>
            <tr>
                <td>
               手机制造商：{{manufacturer}}
            </td>
            </tr>
            <tr>
                <td>
                手机型号：{{model}}
            </td>
                </tr>
            <tr>
                <td>
                 手机系统：{{platform}}
                    </td>
                </tr>
            <tr>
                <td>
                 系统版本号：{{version}}
                </td>
            </tr>
            <tr>
                <td>
                 uuid：{{uuid}}
                    </td>
                </tr>

            </table>
    </ion-content>
</ion-view>